<div class="w-10/12 flex flex-col justify-center items-center">
  <p class="text-2xl p-4 m-2">
    The project has been a rewarding experience, where we have been able to put
    test the knowledge we have gained throughout the course. We had
    than learning to manage time because it was a demanding job and
    we have very little time to do it, some of the things have had to
    postpone for the future for these reasons, but from the beginning of the project
    we have planned to do it in the long term.
  </p>
</div>
