<div class="flex justify-center items-center flex-col w-full bg-grayPerso2 h-screen m-10">
  <div>
    <h1 class="text-7xl p-4 m-2" id="desc">Description</h1>
  </div>
  <div class="w-9/12 m-2 flex flex-col justify-center items-center">
    <p class="text-3xl text-center m-3">
      ToPractice is your ally in the search for internship opportunities both
      for students as for companies. Our web platform simplifies
      the whole process, effectively connecting aspiring interns
      with organizations that offer valuable learning experiences.
    </p>

    <a href="https://topractice.deno.dev/#/" target="_blank">
      <button class="btn btn-primary m-3">Discover the platform</button></a
    >
  </div>
</div>


<style>
  @media screen and (min-width: 300px) {
    h1{
      font-size: 3em;
    }
  }
</style>