<nav class="bg-base-100 sticky top-0 z-50">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <!-- <a
      href="https://topractice.deno.dev/#/iniciar-sesions"
      class="flex items-center space-x-3 rtl:space-x-reverse">
      
      <div class="self-center text-2xl font-semibold whitespace-nowrap text-white border w-2/12 h-2/6">
        <img src="/logoToPractice.png" class="" alt="" />
      </div>
    
    </a> -->
    
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4  rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 border-gray-700"
      >
      <li>
        <a
      href="https://topractice.deno.dev/#/iniciar-sesions"
      class="flex items-center space-x-3 rtl:space-x-reverse">
      
      <div class="self-center text-2xl font-semibold whitespace-nowrap text-white w-2/12 h-2/6">
        <img src="/logoToPractice.png" class="" alt="" />
      </div>
    
    </a>
      </li>
        <li>
          <a onclick="scrollToAnchor('#home')" id="aHome" class="cursor-pointer"
            >Home</a
          >
        </li>
        <li>
          <a onclick="scrollToAnchor('#desc')" id="aDesc" class="cursor-pointer"
            >Description</a
          >
        </li>
        <li>
          <a onclick="scrollToAnchor('#tech')" id="aTech" class="cursor-pointer"
            >Technologies</a
          >
        </li>
        <li>
          <a onclick="scrollToAnchor('#time')" id="aTime" class="cursor-pointer"
            >Time</a
          >
        </li>
        <li>
          <a onclick="scrollToAnchor('#conc')" id="aConc" class="cursor-pointer"
            >Conclusions</a
          >
        </li>
        <li>
          <a
            onclick="scrollToAnchor('#auhors')"
            id="aAuthors"
            class="cursor-pointer">Authors</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const aTime = document.getElementById("aTime") as HTMLAnchorElement;
  const aTech = document.getElementById("aTech") as HTMLAnchorElement;
  const aAuthors = document.getElementById("aAuthors") as HTMLAnchorElement;
  const aDesc = document.getElementById("aDesc") as HTMLAnchorElement;
  const aConc = document.getElementById("aConc") as HTMLAnchorElement;
  const aHome = document.getElementById("aHome") as HTMLAnchorElement;

  const button = document.querySelector("[data-collapse-toggle]");
  const menu = document.getElementById("navbar-default");

  if (button && menu) {
    button.addEventListener("click", function () {
      const expanded = button.getAttribute("aria-expanded") === "true" || false;

      //button.setAttribute("aria-expanded", !expanded);

      menu.classList.toggle("hidden");
    });
  }

  aAuthors.addEventListener("click", () => {
    scrollToAnchor("#authors");
  });

  aTime.addEventListener("click", () => {
    scrollToAnchor("#time");
  });

  aTech.addEventListener("click", () => {
    scrollToAnchor("#tech");
  });

  aDesc.addEventListener("click", () => {
    scrollToAnchor("#desc");
  });

  aConc.addEventListener("click", () => {
    scrollToAnchor("#conc");
  });

  aHome.addEventListener("click", () => {
    scrollToAnchor("#home");
  });

  function scrollToAnchor(anchorId: any) {
    const target = document.querySelector(anchorId);
    if (target) {
      target.scrollIntoView({
        behavior: "smooth", // Hace que el desplazamiento sea suave
        block: "start", // Alinea la parte superior del objetivo al borde superior del contenedor
      });
    }
  }
</script>

<style>
  @media screen and (max-width: 768px) {
    #menu {
      display: none;
    }

    #burger-btn {
      display: block;
    }
  }

  @media screen and (min-width: 1000px) {
    #burger-btn {
      display: none;
    }
  }
</style>
